{% extends 'layout.html' %}

{% block body %}
    <div class="jumbotron text-center" >
        <h1>Welcome to Flask app</h1>
        <p>This Website guides you in simplyfing your home through devices .</p>
    </div>
    
    <div class="container">
    <h2><strong>STUDENT PROFILE</strong></h2>
    <div class='card-deck'>
      
      
          <div class="card" style="width:400px">
            <img class="card-img-top" src="/rpiWebServer/static/images/tom.jpeg" alt="Card image" style="width:100%; height:500px">
            <div class="card-body">
              <h4 class="card-title">RAN VIJAY SINGH</h4>
              <p class="card-text">Some example text some example text. John Doe is an architect and engineer</p>
              <a href="#" class="btn btn-primary">See Profile</a>
        </div>
        </div>
      <br>
  
  
      <div class="card" style="width:400px">
        <div class="card-body">
        <img class="card-img-bottom" src="/rpiWebServer/static/images/download.jpeg" alt="Card image" style="width:100%; height:500px">
          <h4 class="card-title">SAURABH ANIL SHARMA</h4>
          <p class="card-text">Some example text some example text. Jane Doe is an architect and engineer</p>
          <a href="#" class="btn btn-primary">See Profile</a>
        </div>
        </div>
</div>
</div>
        <br>
        <br>
        
        <div class="container">
        <h2><strong>PROJECT CO-ORDINATOR</strong></h2>
         <div class="card" style="width:400px">
         <img class="card-img-bottom" src="img_avatar6.png" alt="Card image" style="width:100%">
         <div class="card-body">
              <h4 class="card-title">MR. PRAVEEN KUMAR</h4>
              <p class="card-text">Some example text some example text. Jane Doe is an architect and engineer</p>
              <a href="#" class="btn btn-primary">See Profile</a>
        </div>
        </div>
        
        <br>
        <br>
        
        
        <h2><strong>PROJECT GUIDE</strong></h2>
         <div class="card" style="width:400px">
         <img class="card-img-bottom" src="img_avatar6.png" alt="Card image" style="width:100%">
         <div class="card-body">
              <h4 class="card-title">MRS. SHILPI KHANNA</h4>
              <p class="card-text">Some example text some example text. Jane Doe is an architect and engineer</p>
              <a href="#" class="btn btn-primary">See Profile</a>
        </div>
        </div>

</div>

{% endblock %}