{% extends 'layout.html' %}

{% block body %}

    <div class = 'jumbotron'>
        <h1 class="text-center">RPi GPIO Control</h1>
        <p class="text-center">Here you will Find all the information regarding your houses's Temperature and Humidity.</p>
    </div>


        <div class ='card-group'>
            <div class="card" style="width: 18rem;">
            <div class="card-body">
            <ul class="list-group">
                <li class="list-group-item"><h1 class="text-center">Sensor Status</h1></li></ul>

            <h3> BUTTON   {{ button  }}</h3>
		    <h3> MOTION {{ senPIR  }}</h3>
            <h3> TEMPERATURE   {{ temperature  }}</h3>
            <h3> HUMIDITY {{ humidity  }}</h3>

        </div>
        </div>
        </div>


         <div class ='card-group'>
            <div class="card" style="width: 18rem;">
            <div class="card-body">
            <ul class="list-group">
                <li class="list-group-item"><h1 class="text-center">Actuator Status</h1></li></ul>
                <h3> RED LED STATUS{{ ledRed  }}</h3>
		    <h3> YLW LED STATUS {{ ledYlw  }}</h3>
            <h3> GRN LED STATUS  {{ ledGrn  }}</h3>

        </div>
        </div>
        </div>


    <div class="card-group">

        <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="/rpiWebServer/static/images/tv.jpg" alt="Card image cap">
        <div class="card-body">
        <h5 class="card-title">RED LED Ctrl</h5>
            <p class="card-text">Control your home from anywhere in the world, at anytime with just a click.</p>
			<a href="/ledRed/on" class="btn btn-primary">TURN ON</a>
			<a href="/ledRed/off" class="btn btn-primary">TURN OFF</a>

        </div>
        </div>

        <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="/rpiWebServer/static/images/bulb.jpg" alt="Card image cap">
        <div class="card-body">
        <h5 class="card-title">YLW LED Ctrl</h5>
            <p class="card-text">Control your home from anywhere in the world, at anytime with just a click..</p>
			<a href="/ledYlw/on" class="btn btn-primary">TURN ON</a>
			<a href="/ledYlw/off" class="btn btn-primary">TURN OFF</a>
        </div>
        </div>

        <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="/rpiWebServer/static/images/fan.jpg" alt="Card image cap">
        <div class="card-body">
        <h5 class="card-title">GRN LED Ctrl </h5>
            <p class="card-text">Control your home from anywhere in the world, at anytime with just a click..</p>
			<a href="/ledGrn/on" class="btn btn-primary">TURN ON</a>
			<a href="/ledGrn/off" class="btn btn-primary">TURN OFF</a>
        </div>
        </div>

    </div>
{% endblock %}