{% extends 'layout.html' %}

{% block body %}

    <div class = "jumbotron">
        <h1 class="text-center">RPi GPIO Control</h1>
        <p class="text-center">Here you will Find all the information regarding your houses's Temperature and Humidity.</p>
    </div>


        <div class ='card-group' style="margin-bottom:100px">
            <div class="card" style="width: 18rem;">
            <div class="card-body">
            <ul class="list-group">
                <li class="list-group-item"><h1 class="text-center">Sensor Status</h1></li></ul>

                    <div class="card-deck">
                    <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
                        <div class="card-header">Temperature</div>
                        <div class="card-body">
                            <h3 class="card-title"> TEMPERATURE   {{ temperature }}</h3>
                            <br>
                            <br>
                            <br>
                            <p class="card-text">This is the Temperature inside your room</p>
                        </div>
                        </div>

                        <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
                        <div class="card-header">Ac Temperature</div>
                        <div class="card-body">
                            <h3 class="card-title"> AC TEMPERATURE   {{ tempeature  }}</h3>
                            <br>
                            <br>
                            <br>
                            <p class="card-text">This is the Temperature of your ac inside your room</p>
                        </div>
                        </div>



                       <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
                           <div class="card-header">Humidity</div>
                           <div class="card-body">
                                <h3 class="card-title"> HUMIDITY {{ humidity  }}</h3>
                                <br>
                                <br>
                                <br>
                                <p class="card-text">This is the Humidity inside your room</p>
                        </div>
                        </div>
                        </div>


            </div>
            </div>
        </div>


         <div class ='card-group' style="margin-bottom:100px">
            <div class="card" style="width: 18rem;">
            <div class="card-body">
            <ul class="list-group">
                <li class="list-group-item"><h1 class="text-center">Actuator Status</h1></li></ul>

                <div class="card">

                        <div class="card bg-danger">
                        <div class="card-body text-center">
                            <h3> Red Led Sts   {{ ledRed  }}</h3>
                            <p class="card-text">This is the Temperature inside your room</p>
                        </div>
                        </div>
                </div>

                <div class="card">
                        <div class="card bg-warning">
                        <div class="card-body text-center">
                            <h3> Yel Led Sts {{ ledYlw }}</h3>
                            <p class="card-text">Some text inside the fourth card</p>
                         </div>
                         </div>

                </div>

                <div class="card">
                        <div class="card bg-success">
                        <div class="card-body text-center">
                            <h3> Green LEd Sts {{ ledGrn  }}</h3>
                            <p class="card-text">Some text inside the fourth card</p>
                         </div>
                         </div>
                </div>

        </div>
        </div>
        </div>


    <div class="card-group">

        <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="/rpiWebServer/static/images/tv.jpg" alt="Card image cap">
        <div class="card-body">
        <h5 class="card-title">RED LED Ctrl</h5>
            <p class="card-text">Control your home from anywhere in the world, at anytime with just a click.</p>
			<a href="/ledRed/on" class="btn btn-primary">TURN ON</a>
			<a href="/ledRed/off" class="btn btn-primary">TURN OFF</a>

        </div>
        </div>

        <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="/rpiWebServer/static/images/bulb.jpg" alt="Card image cap">
        <div class="card-body">
        <h5 class="card-title">YLW LED Ctrl</h5>
            <p class="card-text">Control your home from anywhere in the world, at anytime with just a click..</p>
			<a href="/ledYlw/on" class="btn btn-primary">TURN ON</a>
			<a href="/ledYlw/off" class="btn btn-primary">TURN OFF</a>
        </div>
        </div>

        <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="/rpiWebServer/static/images/fan.jpg" alt="Card image cap">
        <div class="card-body">
        <h5 class="card-title">GRN LED Ctrl </h5>
            <p class="card-text">Control your home from anywhere in the world, at anytime with just a click..</p>
			<a href="/ledGrn/on" class="btn btn-primary">TURN ON</a>
			<a href="/ledGrn/off" class="btn btn-primary">TURN OFF</a>
        </div>
        </div>

    </div>
{% endblock %}